.about_company{
    margin: 40px 0 150px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10% 0 10%;
    
}
.text1{
    width: 360px;
    height: 114px;
    color: #868782;
    font-family: "Sofia Pro Medium";
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07px;
    padding-top:45px;

}
.text2{
    width: 360px;
    height: 54px;
    color: #868782;
    font-family: "Sofia Pro Medium";
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07px;
    padding: 45px 0 30px 0;
}
.text3{
    margin: 0 0 20px 0;
    color: #868782;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.6px;

}
.span_txt3{
    color: #333d3c;
    font-family: "Good Headline Pro - X Cond Black";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    white-space: nowrap;
}
.check{
    padding: 0 4px 0 4px;
    background-color: #bab8ac;
    font-family: "Good Headline Pro - X Cond Black";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;
    margin-left: 10px;
    cursor: pointer;
}