.about_company{
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 20px auto 200px auto;
    
}
.logos{
    margin-right: 300px;
}
.text1{
    width: 385px;
    color: #868782;
    font-family: "Sofia Pro Medium";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07px;
    text-align:left;
    padding-top: 70px;
    

}
.text2{
    width: 385px;
    color: #868782;
    font-family: "Sofia Pro Medium";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07px;
    padding: 45px 0 30px 0;
}
.text3{
    margin: 0 0 20px 0;
    color: #868782;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    

}
.span_txt3{
    color: #333d3c;
    font-family: ff-good-headline-web-pro-ext;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    white-space: nowrap;
    flex-grow: 1;
}

.check{
    padding: 0 4px 0 4px;
    background-color: #bab8ac;
    font-family: ff-good-headline-web-pro-ext;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;
    margin-left: 10px;
    cursor: pointer;
}
