.contact{
    height: 1100px; 
    position: relative;
    display: flex;
    justify-content: center;
    

}
.contact:before{
    content: '';
    background-image: url(img/hugelogo.png); 
    background-repeat: no-repeat;
    height: 450px;
    width: 1060px;
    position: absolute;
    overflow: hidden;
    top:650px;
    
}
.contact-box{
    width: 350px;
    height: 500px;
    background-color: rgba(#ffffff,0.5);
    position: absolute;
    left: calc(50% - 560px);
    top: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.contact-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-box h1{
    color: #333d3c;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 9.6px;
    margin-bottom: 30px;

}
.contact-box p{
    margin:0;
    color: #868782;
    font-family: sofia-pro;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.06px;
    text-align: center;
}
.contact-box input{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.contact-box input[type="text"], input[type="email"], input[type="tel"]
{
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background-color: transparent;
    
}
.contact-box input[type="submit"]
{
    margin: 20px 0 20px 0;
    width: 90px;
    height: 30px;
    background-color: #bab8ac;
    color: #ffffff;
    font-family: "ff-good-headline-web-pro-ext";
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    outline: none;
    text-align: center;
    border: 0;
    cursor: pointer;

}
.contact-box textarea{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    resize: none;
    background-color: transparent;
}
.altcontact{
    
    width: 200px;
    position: absolute;
    top:330px;
    left: calc(50%);
    
}
.altcontact h2{
    margin: 0 0 80px 0;
    width: 400px;
    color: #333d3c;
    font-family: "ff-good-headline-web-pro-ext";
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    text-align: right;
}
.altcontact h3{
    margin: 0 0 20px 0;
    width: 400px;
    color: #333d3c;
    font-family: "ff-good-headline-web-pro-ext";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    text-align: right;
}
.altcontact h4{
    margin: 0 0 40px 0;
    width: 400px;
    color: #868782;
    font-family: "sofia-pro";
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    text-align: right;
}
.nelement{
    position: absolute;
    right: 0;
    top:330px;
    
}
.formball{
    position: absolute;
    top: 375px;
    left: calc(50% - 265px);
    
}