footer{
    padding: 40px;
    width: auto;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.foot_p{
width: 600px;
padding-top: 20px;
margin: 0 150px 0 150px;
color: #333d3c;
font-family: "Good Headline Pro - X Cond Black";
font-size: 12px;
font-weight: 700;
text-transform: uppercase;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.foot_p p{
    margin:0;
}
.icons_footer{
    padding-top: 10px;
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: space-between
}
.jwgimg{
    padding: 5px 0 5px 0;
}