footer{
    padding: 40px;
    width: auto;
    height: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}
footer img{
    cursor: pointer;
}
.foot_p{
    width: 600px;
    padding-top: 10px;
    position: absolute;
    left: calc(50% - 390px);
    margin: 0 150px 0 150px;
    color: #333d3c;
    font-family: "ff-good-headline-web-pro-ext";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.foot_p p{
    margin:0;
    cursor: pointer;
    &:hover{
        color: $bgColor; 
    }
}
.rise_black{
    position: absolute;
    left: 0;
    margin-left: 40px;
}
.icon_insta_black{
    transition: 1s;
    &:hover{
        transform: scale(1.2) rotate(-10deg);
        
        
    }
}
.icon_fb_black{
    transition:1s;
    &:hover{
        transform: scale(1.2) rotate(10deg);
        
        
    }
}
.icons_footer{
    position: absolute;
    left: calc(5% + 140px);
    padding-top: 10px;
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: space-between
}
.jwgimg{
    position: absolute;
    right: 0;
    margin-right: 40px;
    padding: 10px 0 10px 0;
    
}
@media(max-width:1160px)
{
    .foot_p{
        width: 490px;
    }
}
@media(max-width:1030px)
{
    .foot_p{
        width: 490px;
        left: calc(50% - 325px);
        width: 430px;
    }
}
@media(max-width:940px){
    .foot_p{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 200px;
        position: absolute;
        left: calc(50% - 220px);
    }
}