.maincontent{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
    height: 2000px;
    width: 1100px;
    
     
}
.left_elements{
    position: absolute;
    left: -250px;
    top: 1000px;

}
.right_elements{
    position: absolute;
    right: -191px;
    top: 300px;

}
.timeto{
    margin: 0;
    color: #333d3c;
    font-family: "f-good-headline-web-pro-ext";
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 24px;
    margin-bottom: 50px;
    
}
.decision{
    width: 580px;
    color: #868782;
    font-family: "f-good-headline-web-pro-ext";
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    
}
.conteiner1{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    top: 250px;
    
}

.conteiner2{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    top: 500px;
    
}
.conteiner3{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    top: 750px; 
}
.conteiner4{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 70px;
    top: 950px; 
}
.conteiner5{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: -100px;
    top: 1300px; 
}
.conteiner6{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    top: 1500px; 
}

.columns{
    display: flex;
    flex-direction: column;
    margin: 40px;
}
.main_h1{
    font-family: "ff-good-headline-web-pro-ext";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}
.separator{
    border-bottom: 1px solid #000;
    width: 45px;
}
.text_to_pillow{
    width: 210px;
    color: #868782;
    font-family: "sofia-pro";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07px;
}
.text_to_kevlar{
    width: 250px;
    color: #868782;
    font-family: "sofia-pro";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07px;
}
.text_to_light_bulb{
    width: 200px;
    color: #868782;
    font-family: "sofia-pro";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07px;
}
.text_to_lorgnette{
    width: 200px;
    color: #868782;
    font-family: "sofia-pro";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07px;
}
.text_to_rollers{
    width: 240px;
    color: #868782;
    font-family: "sofia-pro";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07px;
}
.text_to_trophy{
    width: 240px;
    color: #868782;
    font-family: "sofia-pro";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07px;
}
.columns:nth-child(1)
{   
    margin: 100px 0 0 70px;
}
.lorgnette{
    padding-top: 80px;
    margin-right: 50px;
}
.trophy{
    margin-top: 150px;
}
@media(max-width:1500px){
    .right_elements{
        display: none;
    }
}
@media(max-width:1315px){
    .conteiner5{
        left:15px;
    }
}
@media(max-width:1180px){
    .conteiner1{
        left: 110px;  
    }
    .conteiner2{
        right: 15px;
    }
    .conteiner3{
        left: 125px;
        top: 800px;
    }
    .conteiner4{
        top: 1000px;
    }
    .conteiner5{
        left: 135px;
    }
    .conteiner6{
        right: 90px;
        top: 1600px;
    }
    .left_elements{
        left: -160px;
        top: 1100px;
    }
     
}
@media(max-width:1120px){
    .maincontent{
        width: 975px;
    }
}
@media(max-width:980px){
    .maincontent{
        width: 675px;
    }
    .conteiner3{
        top: 840px;
    }
    .conteiner4{
        top: 1070px;
    }
    .conteiner5{
        top: 1365px;
    }
    .conteiner6{
        top: 1640px;
    }
    .left_elements{
        left: -260px;
        top: 1302px;
    }
    .rollers{
        width: 230px;
        height: 230px;
    }
    .kevlar{
        width: 230px;
        height: 230px;
        padding-top: 85px;
    }
}

