.mainlogo{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}
.logo{
    height: 800px;
    width: 750px;
}
.left_img{
    height: 230px;
    width: 240px;
    position: relative;
    top: 370px;
}
.nav_icon{
    width: 70px;
    height: 45px;
    position: relative;
    top: 120px;
}
