.mainlogo{
    height: 800px;
    position: relative;
    margin-top: 70px;
    

    
}
.logo{
    position: absolute;
    left: calc(50% - 385px);
    
}
.left_img{
    height: 212px;
    width: 226px;
    position: absolute;
    top: 50%;
}
.nav_icon{
    position: absolute;
    right: 0;
    top: 25%;
}
