.someinfo{
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;

}

.rectangle1{
    position: absolute;
    left: calc(50% - 450px);
    width: 800px;
    height: 215px;
    background-color: rgba(#fff2dd,0.62);
    display: flex;
    align-items: center;
    padding: 0 40px 0 40px;


}
.text4{
    width: 380px;
    height: 140px;
    color:#455251;
    font-family: "sofia-pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.07px;
    text-align: right;
   
}
.border{
    width: 10px;
    height: 140px;
    border-right: 1px solid black;
    margin: 0 40px 0 20px;

}
h2{
    width: 155px;
    color: #000;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;

}
h3{
    width:120px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    margin: 0;

}
.snowball{
    position: absolute;
    width: 200px;
    height: 300px;
}
.skip_icon{
    position: absolute;
    right: 40px;
    cursor: pointer;
}
.elec_to_rec1{
    position: absolute;
    right: 25%;
    top: 85%;
}
@media(max-width:1300px){
    .rectangle1{
        left: calc(50% - 355px);
        width: 710px;
    }
    .snowball{
        width: 150px;
        height: 250px;
    }
}
