.top_layout{
    position: relative;
    width: 100%;
    height: 240px;
    
}

.rise_small{
    position: absolute;
    top: 40px;
    left: 40px;
}
.elements{
    position: absolute;
    left: 25%;
}
.social_icons{
    width: 50px;
    position: absolute;
    top: 60px;
    left: calc(50% - 25px);
    display: flex;
    justify-content: space-between;
    
}
.lang_icon{
    position: absolute;
    right: 5%;
    top: 60px;
}





