.top_layout{
    position: relative;
    width: 100%;
    height: 240px;
    
}

.rise_small{
    position: absolute;
    top: 40px;
    left: 40px;
}
.elements{
    position: absolute;
    left: 25%;
}
.social_icons{
    width: 50px;
    position: absolute;
    top: 60px;
    left: calc(50% - 25px);
    display: flex;
    justify-content: space-between;
    
}
.icon_insta{
    cursor: pointer;
    transition: 0.5s;
    &:hover{
        transform: scale(1.2);
    }
}
.icon_fb{
    cursor: pointer;
    transition: 0.5s;
    &:hover{
        transform: scale(1.2);
    }
}
.lang_icon{
    position: absolute;
    right: 5%;
    top: 60px;
}
@media(max-width:980px){
    .elements{
        width: 150px;
    }
}





