.contact{
    height: 1100px; 
    position: relative;
    display: flex;
    justify-content: center;
    

}
.contact:before{
    content: '';
    background-image: url(../img/hugelogo.png); 
    background-repeat: no-repeat;
    background-size: 1160px 680px;
    height: 450px;
    width: 1060px;
    position: absolute;
    overflow: hidden;
    bottom:0;
    left: calc(50% - 365px);
    
}

.contact-box{
    width: 350px;
    height: 500px;
    background-color: rgba(#ffffff,0.5);
    position: absolute;
    left: calc(50% - 435px);
    top: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.contact-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-box h1{
    color: #333d3c;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 9.6px;
    margin-bottom: 30px;

}
.contact-box p{
    margin:0;
    color: #868782;
    font-family: sofia-pro;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.06px;
    text-align: center;
}
.contact-box input{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.contact-box input[type="text"], input[type="email"], input[type="tel"]
{
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background-color: transparent;
    
}
.contact-box input[type="submit"]
{
    margin: 20px 0 20px 0;
    width: 80px;
    height: 30px;
    background-color: #bab8ac;
    color: #ffffff;
    font-family: "ff-good-headline-web-pro-ext";
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    outline: none;
    text-align: center;
    border: 0;
    
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
    }
    &:active{
        background: #a9a79b;
    }

}
.contact-box textarea{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    resize: none;
    background-color: transparent;
}
.altcontact{
    
    width: 200px;
    position: absolute;
    top:330px;
    left: calc(50% + 40px);
    
    
}
.altcontact h2{
    margin: 0 0 80px 0;
    width: 400px;
    color: #333d3c;
    font-family: "ff-good-headline-web-pro-ext";
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    text-align: right;
    @media(max-width: 690px){
        font-size: 30px;
    }
}
.altcontact h3{
    margin: 0 0 20px 0;
    width: 400px;
    color: #333d3c;
    font-family: "ff-good-headline-web-pro-ext";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    text-align: right;
    @media(max-width: 690px){
        font-size: 20px;
    }
}
.altcontact h4{
    margin: 0 0 40px 0;
    width: 400px;
    color: #868782;
    font-family: "sofia-pro";
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    text-align: right;
    @media(max-width: 690px){
        font-size: 14px;
    }
}
.nelement{
    position: absolute;
    right: 0;
    top:330px;
    
}
.formball{
    position: absolute;
    top: 375px;
    left: calc(50% - 145px);
    
}
.foot_ele{
    height: 90px;
    width: 100px;
    position:absolute;
    left: calc(50% + 315px);
    bottom: -25px;
}
.silver_ball{
    position: absolute;
    bottom: 230px;
    left: calc(50% - 635px);
}
@media(max-width:1390px){
    .contact:before
    {
        left: calc(50% - 455px);
    }
    .foot_ele{
        left: calc(50% + 220px);
    }
    .silver_ball{
        left: calc(50% - 490px);
    }
}
@media(max-width:1245px){
    .contact:before{
        left: calc(50% - 550px);
    }
    .foot_ele{
        left: calc(50% + 140px);
    }
    .altcontact{
        left: calc(50% - 80px);
    }
}
@media(max-width:1020px){
    .contact:before{
        background-size: 1040px 690px;
        width: 950px;
        left: calc(50% - 500px);
    }
    .altcontact{
        left: calc(50% - 145px);
    }
    .foot_ele{
        height: 50px;
        width: 50px;
    }
}
@media(max-width:900px){
    .nelement{
        width: 100px;
    }
    .contact-box{
        left: calc(50% - 355px);
    }
    .formball{
        left: calc(50% - 65px);
    }
    .contact:before{
        background-size: 800px 500px;
        width: 730px; 
        height: 330px;
        left: calc(50% - 350px);

    }
}
@media(max-width:760px){
    .contact:before{
        background-size: 685px 440px;
        width: 625px;
        height: 294px;
        left: calc(50% - 290px);
        
    }
    .foot_ele{
        left: calc(50% + 45px);
    }
}
@media(max-width:690px){
    .altcontact{
        top:0px;
        display: flex;
        flex-direction: column;
        left: calc(50% - 175px);
    }
    .contact-box{
        top: 350px;
        left: calc(50% - 175px);
        
    }
    .formball{
        display: none;
    }
    .contact{
        height: 1130px;
        
    }
    .altcontact h2{
        text-align: center;
        margin: 0 0 40px 0;
    }
    .altcontact h3{
        text-align: center;
    }
    .altcontact h4{
        text-align: center;
    }
    .nelement{
        display: none;
    }
    .contact:before{
        background-size: 540px 330px;
        width: 495px;
        height: 220px;
        left: calc(50% - 275px);
    }
}
@media(max-width:490px){
    .altcontact{
        width: 220px;
        align-items: center;
        left: calc(50% - 90px);
    }
    .altcontact h2{
        width: 110px;
    }
    .altcontact h3{
        width: 195px;
    }
    .altcontact h4{
        width: 220px;
    }
    .contact:before{
        background-size: 400px 290px;
        width: 370px;
        height: 193px;
        left: calc(50% - 190px);
    }
}
@media(max-width:370px){
    .contact-box{
        width: 290px;
        left: calc(50% - 145px);
    }
    .contact:before{
        background-size: 360px 270px;
        width: 330px;
        height: 180px;
        left: calc(50% - 170px);
    }
}