.maincontent{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 2000px;
    @media(max-width: 560px){
        height: 3000px;
    }
    
     
}
.left_elements{
    position: absolute;
    left: -80px;
    top: 1050px;
    @media(max-width:1020px){
        top: 1100px;
    }
    @media(max-width:860px){
        display: none;
    }
    
}
.right_elements{
    position: absolute;
    right: 0px;
    top: 300px;
    @media(max-width:1020px){
        display: none;
    }
    
}
.timeto{
    align-self: center;
    color: #333d3c;
    font-family: "f-good-headline-web-pro-ext";
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 24px;
    margin-bottom: 50px;
    @media(max-width:690px){
        font-size: 20px;
    }
    @media(max-width:540px){
        letter-spacing: 10px;
    }
    
}
.decision{
    align-self: center;
    width: 580px;
    color: #868782;
    font-family: "f-good-headline-web-pro-ext";
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    @media(max-width:690px){
        width: 415px;
    }
    @media(max-width:500px){
        width: 265px;   
    }
    
}
.conteiner1{
    align-self: flex-start;
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 250px;
    @media(max-width:1365px){
        margin-left: 100px;
    }
    @media(max-width:1130px){
        margin-left: 50px;
    }
    @media(max-width:860px){
        margin:0;
    }
    @media(max-width: 560px)
    {
        flex-direction: column;
        align-self: center; 
    }
    
}

.conteiner2{
    align-self: flex-end;
    margin-left: -200px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 500px;
    @media(max-width:1365px){
        margin-left: -100px;
    }
    @media(max-width:1130px){
        margin-left: -50px;
    }
    @media(max-width:860px){
        margin:0;
    }
    @media(max-width: 560px)
    {
        top: 650px;
        flex-direction: column;
        align-self: center; 
    }
    
}
.conteiner3{
    align-self: flex-start;
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 750px; 
    @media(max-width:1365px){
        margin-left: 100px;
    }
    @media(max-width:1130px){
        margin-left: 50px;
    }
    @media(max-width:1000px){
        top: 800px;
    }
    @media(max-width:860px){
        top:850px;
        margin:0;
    }
    @media(max-width: 560px)
    {
        top: 1300px;
        flex-direction: column;
        align-self: center; 
    }
}
.conteiner4{
    align-self: flex-end;
    margin-left: -200px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 950px; 
    @media(max-width:1365px){
        margin-left: -100px;
    }
    @media(max-width:1130px){
        margin-left: -50px;
    }
    @media(max-width:900px){
        top: 1000px;
    }
    @media(max-width:860px){
        top: 1050px;
        margin:0;
    }
    @media(max-width: 560px)
    {
        top: 1700px;
        flex-direction: column;
        align-self: center; 
    }
}
.conteiner5{
    align-self: flex-start;
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1300px; 
    @media(max-width:1365px){
        margin-left: 100px;
    }
    @media(max-width:1130px){
        margin-left: 50px;
    }
    @media(max-width:860px){
        margin:0;
    }
    @media(max-width: 560px)
    {
        top: 2150px;
        flex-direction: column;
        align-self: center; 
    }
}
.conteiner6{
    align-self: flex-end;
    margin-left: -200px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1600px; 
    @media(max-width:1365px){
        margin-left: -100px;
    }
    @media(max-width:1130px){
        margin-left: -50px;
    }
    @media(max-width:860px){
        margin:0;
    }
    @media(max-width:690px){
        top: 1550px;
    }
    @media(max-width: 560px)
    {
        top: 2500px;
        flex-direction: column;
        align-self: center; 
    }
}

.columns{
    display: flex;
    flex-direction: column;
    margin: 40px;
    @media(max-width: 590px){
        margin: 0;
    }
}
.main_h1{
    font-family: "ff-good-headline-web-pro-ext";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}
.separator{
    border-bottom: 1px solid #000;
    width: 45px;
}
.text_to_pillow{
    width: 210px;
    color: #868782;
    font-family: "sofia-pro";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07px;
}
.text_to_kevlar{
    width: 250px;
    color: #868782;
    font-family: "sofia-pro";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07px;
}
.text_to_light_bulb{
    width: 200px;
    color: #868782;
    font-family: "sofia-pro";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07px;
}
.text_to_lorgnette{
    width: 200px;
    color: #868782;
    font-family: "sofia-pro";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07px;
}
.text_to_rollers{
    width: 240px;
    color: #868782;
    font-family: "sofia-pro";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07px;
}
.text_to_trophy{
    width: 240px;
    color: #868782;
    font-family: "sofia-pro";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.07px;
}
.columns:nth-child(1)
{   
    margin: 100px 0 0 70px;
    @media(max-width: 590px){
        margin: 0;
    }
}
.lorgnette{
    padding-top: 80px;
    margin-right: 50px;
    @media(max-width:690px){
        height: 130px;
    }
}
.trophy{
    margin-top: 150px;
    @media(max-width:690px){
        height: 170px;
    }
}

.kevlar{
    @media(max-width:690px){
        margin-top: 105px;
        height: 200px;
    }
    @media(max-width:560px){
        order:-1;
        height: 250px;
    }

}
.pillow{
    @media(max-width:690px){
        margin-top: 50px;
        height: 200px;
    }
}
.rollers{
    @media(max-width:690px){
        height: 200px;
    }
    @media(max-width:560px){
        height: 250px;
    }
}
.light_bulb{
    @media(max-width:690px){
        height: 180px;
    }
}





