#navbar_icon{
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 50%;
    height: 30px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #333d3c;
    color: #eee0c9;
    z-index: 1;
    cursor: pointer;
    
}
#mySidenav{
  display: flex;
  justify-content: center;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: $bgColor;
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
  text-align: center;
  white-space: nowrap;
  >#closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    text-decoration: none;
    color:black;
    @media(max-width:1200px){
      top:25%;
      right: 5px;
    }
  }
}
ul{
  padding: 0;
  >li{
    list-style: none;
    >a{
      width: 100px;
      padding-bottom: 20px;
      text-decoration: none;
      font-size: 25px;
      font-weight: bold;
      color: #000000;
      display: block;
      transition: 0.3s;
      &:hover{
        color: gray;
      }
      
    }
  }
}
  @media(max-width:1200px)
  {
    #navbar_icon{
    
     top:0;
     background-color: transparent;
     color: black;
    
    }
  }
  @media(max-width:980px){
    #navbar_icon{
      height: 30px;
      width: 42px;
      font-size: 20px;
    }
  }
  