#navbar_icon{
    overflow: hidden;
    position: fixed;
    right: 0;
    top:30%;
    height: 45px;
    width: 60px;
    font-size: 30px;
    text-align: center;
    background-color: #333d3c;
    color: #eee0c9;
    z-index: 1;
    cursor: pointer;
    
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: $bgColor;
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding-bottom: 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: gray;
}

.sidenav #closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
  @media(max-width:1200px)
  {
    #navbar_icon{
    
     top:0;
     background-color: transparent;
     color: black;
    }
  }
  @media(max-width:980px){
    #navbar_icon{
      height: 30px;
      width: 42px;
      font-size: 20px;
    }
  }