.navbar_icon{
    overflow: hidden;
    position: fixed;
    right: 0;
    top:30%;
    height: 45px;
    width: 60px;
    font-size: 30px;
    text-align: center;
    background-color: #333d3c;
    color: #eee0c9;
    cursor: pointer;
    
}
  @media(max-width:1200px)
  {
    .navbar_icon{
    
     top:0;
     background-color: transparent;
     color: black;
    }
  }
  @media(max-width:980px){
    .navbar_icon{
      height: 30px;
      width: 42px;
      font-size: 20px;
    }
  }