@import 'variables.scss';
@import 'top_layout.scss';
@import 'main_logo.scss';
@import 'about_com.scss';
@import 'some_info.scss';
@import 'main_content.scss';
@import 'under_some_info.scss';
@import 'contact.scss';
@import 'footer.scss';
@import 'nav.scss';

body{
    margin: 0;
    font-family: "ff-good-headline-web-pro-ext";
    background-color: $bgColor;  
    height: 100%;
    background-image: url(../img/bg_right.png); 
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
   
}
main{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}



 
