.top_layout{
    position: relative;
    width: 100%;
    height: 240px;   
    @media(max-width:690px){
        height: 140px;
    }
}

.rise_small{
    position: absolute;
    top: 40px;
    left: 40px;
}
.elements{
    position: absolute;
    left: 25%;
}
.social_icons{
    width: 50px;
    position: absolute;
    top: 60px;
    left: calc(50% - 25px);
    display: flex;
    justify-content: space-between;
    
}
.icon_insta{
    cursor: pointer;
    transition: 0.5s;
    &:hover{
        transform: scale(1.2);
    }
}
.icon_fb{
    cursor: pointer;
    transition: 0.5s;
    &:hover{
        transform: scale(1.2);
    }
}
.lang_icon{
    position: absolute;
    right: 5%;
    top: 36px;
    display: flex;
    flex-direction: row;
    >p
    {
        color: #333d3c;
        font-family: "ff-good-headline-web-pro-ext";
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        &:hover{
            cursor: pointer;
        }
    }
}
.pl{
    margin-right: 15px;
}
@media(max-width:980px){
    .elements{
        width: 150px;
    }
}
@media(max-width:740px){
    .elements{
        width: 100px;
        left: 30%;
    }
    .rise_small{
        width: 100px;
    }
}
@media(max-width:500px){
    .elements{
        display: none;
    }
    .rise_small{
        width: 70px;
    }
}





