.undersomeinfo{
    position: relative;
    height: 715px;
    margin-top:100px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    overflow: hidden;
    
}
.realizations{
    width: 680px;
    height: 420px;
    background-color: #fff2dd;
    position: absolute;
    left: calc(50% - 550px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.text5{
    margin: 0;
    color: #333d3c;
    font-family: "ff-good-headline-web-pro-ext";
    font-size: 58px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    margin-bottom: 20px;

}
.text6{
    width: 190px;
    text-align: center;
    color: #868782;
    font-family: "ff-good-headline-web-pro-ext";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    padding-bottom: 40px;
}
.see_projects{
    width: 230px;
    height: 40px;
    background-color: #bab8ac;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover{
        background: #a9a79b;
    }
}
.text7{
    margin: 0;
    color: #ffffff;
    font-family: "ff-good-headline-web-pro-ext";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}
.offer{
    width: 550px;
    height: 360px;
    box-shadow: -6px 11px 29px rgba(21, 53, 52, 0.14);
    background-color: #86857d;
    position: absolute;
    top: 320px;
    left: calc(50% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text8{
    margin: 0;
    color: #ffffff;
    font-family: "ff-good-headline-web-pro-ext";
    font-size: 58px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.8px;
    margin-bottom: 20px;
}
.text9{
    width: 280px;
    max-width: 90%;
    margin: 0;
    text-align: center;
    color: #ffffff;
    font-family: "ff-good-headline-web-pro-ext";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    margin-bottom: 40px;
}
.see_offer
{
    width: 230px;
    height: 40px;
    background-color: #cbf2f0;
    border: 2px solid #cbf2f0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover{
        background: #bae1e0;
        border: 2px solid #bae1e0;
    }

}
.text10{
    margin: 0;
    font-family: "ff-good-headline-web-pro-ext";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 2.4px;
}
.two_layers1{
    position: absolute;
    top: 290px;
    left: -80px;
    
   
}
.two_layers2{
    position: absolute;
    top: 150px;
    right: calc(50% - 700px);
}
@media(max-width:1390px){
    .two_layers2{
        right: calc(50% - 550px);   
    }
}
@media(max-width:1270px){
    .two_layers1{
        left: -45px;
    }
}
@media(max-width:1070px){
    .undersomeinfo{
        height: 780px;
    }
    .realizations{
        left: calc(50% - 415px);
    }
    .offer{
        left: calc(50% - 145px);
        top: 366px;
    }
}
@media(max-width:880px){
    .realizations{
        left: 20px;
        right: 60px;
        width: auto;
    }
    .offer{
        left: 100px;
        right: 20px;
        width: auto;

    }
    .two_layers1{
        top: 182px;
        left: -100px;
    }
}
@media(max-width:600px){

    .two_layers1{
        display: none;
    }
}

@media(max-width:460px){
    .realizations{
        left: 20px;
        right: 20px;
    }
    .offer{
        left: 20px;
        right: 20px;

    }
}